@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&display=swap');

$primary-color: rgb(47, 72, 88);
$secondary-color: rgb(110, 110, 130);
$text-color: rgb(68, 68, 68);
$background-color: rgb(255, 255, 255);
$link-color: rgb(77, 110, 245);
$warning-color: rgb(250, 157, 35);
$error-color: rgb(192, 6, 6);
