@use "reset";
@use "theme" as *;


body {
  font-family: 'Quicksand', sans-serif;
  background-color: $background-color;
}

p {
  color: $text-color;
}

a {
  text-decoration: none;
  color: $link-color;
}
